* {
    box-sizing: border-box;
}
 .container {
     width: 100%;
     background: white;
    
        margin: 0 auto;
        margin-bottom: 0;
     padding-top: 0;



 }

 .wrapper {
     width: 960px;
     margin: 0 auto;
 }
.logo {
    padding-top: 10px;
    padding-left: 10px;
    width: 180px;
    background: cornflowerblue
}
 .nav_bar {
     float: right;
     margin-top: -40px;
     
 }
 a{
     margin-left: 20px;
     padding: 10px;
     text-decoration: none;
 }

 a:hover {
     background: cornflowerblue;
 }

 #bio::before {
     clear: both;
     content: "";
     display: block;
 }

 
 #bio {

    margin: auto;
    width: 960px;
     background: darkcyan;
    margin-bottom: 30px;
    border: 2px solid lightcoral;
    color: wheat;
 }
h3 {
    padding-left: 10px;
    font-size: 20px;
    color: wheat;
}

hr {
    width: 940px;
}
 img {
     float: left;
     padding-left: 10px;
     padding-right: 10px;
 }

 p {
     padding-left: 10px;
 }
 body{
     margin: 0;
     padding: 0;
    background: cornflowerblue;
 }

 /*contact.html*/
 form {
     padding-left: 10px;
     padding-bottom: 10px;
 }

 #name_box {
     width: 300px;
 }
