/*index.html*/
header {
    background-color: fuchsia;
}
li {
    display: inline;
}

a {
    float: right;
    display: block;
    background-color: aquamarine

}
/*style.css*/
#message_box {
    width: 300px;
    height: 60px;
}